@page 
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm">
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach(var restaurant in Model.Restaurants) 
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            @* <td> // Using Query string
                <a class="btn btn-lg" a href="/Restaurants/Detail?restaurantId=@restaurant.Id">x
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
            </td> *@

            <td>
                <a class="btn btn-info btn-md" 
                    asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">Details                 
                </a>
                <a class="btn btn-dark btn-md" 
                    asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">Edit                 
                </a>
            </td>
        </tr>
    }
</table>

<a asp-page="\Edit" class="btn btn-primary">Create</a>
<div>@Model.Message</div>